<footer class="footer">
    <div class="row">
        <div class="col-md-2 d-flex justify-content-center">
            <p class="brand">&copy; 2024 Marta Santos</p>
        </div>
        <div class="col-md-10">
            <div class="social-media d-flex justify-content-end">
                <button><a href="https://github.com/anamarta49" target="_blank"><i class="fab fa-github"></i></a></button>
                <button><a href="https://www.linkedin.com/in/marta-santos-lx/" target="_blank"><i class="fab fa-linkedin"></i></a></button>
                <button><a href="mailto:marta.dev.2022@gmail.com"><i class="fas fa-envelope"></i></a></button>
            </div>  
        </div>     
    </div>    
</footer>
  