@import '../../variables';


.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
    opacity: 0.7;
    width: 100%; /* Make sure it spans the full width */
    position: absolute;
    bottom: 0;
    left: 0;

    .brand {
        margin-top: auto;
        margin-bottom: auto;
    }

    .social-media {
        button {
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 100%;
            height: 40px;
            width: 40px;
            box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.05);

            &:hover {
                background-color: $primary-color;
            }
    
            a {            
                color: darken($secondary-color, 80%) !important;
            }
    
            i {
                //transform: scale(1.8);                
                transform: scale(1.8) translateX(-27%) translateY(-3%);
            }
    
            transition: all 0.4s ease;
    
        }
        margin-left: auto;
        margin-right: auto;
    }
}
  