<div class="white-bg">
    <h3><span class="pretty_hi">Hi!</span> I'm <span class="my_name">Marta.</span></h3>
    <h3>{{typedText | async}}</h3>
    <br>
    <p>With over <strong>{{yearsOfExperience}}</strong> years of experience in the field, I pride myself in delivering efficient and creative <strong>Frontend</strong> technical solutions. 
      My journey has equipped me with a fluent understanding of modern frameworks and agile methodologies. 
    </p>
    <p>
      Most of my work is in <strong>Angular</strong> and <strong>Vue.js</strong> applications, with the help of tools like <strong>PrimeNG</strong>, <strong>Jest</strong> and <strong>Bootstrap</strong>.
      But I'm always eager to tackle new projects and learn new tools.
    </p>
    <p>
      I believe in teamwork and love seeing a project take shape through collective effort.
    </p>
    <br>
    <h5>When you meet me?</h5>
    <p>
      You will get to know a calm person who enjoys fun facts and puns.
      I love my hobbies, such as drawing, climbing, chess and music.
    </p>
    <h5>How to win me over?</h5>
    <p>
      Invite me to play chess with you :D <a href="https://www.chess.com/members/martadev" target=”_blank”>(here♟️)</a>
    </p>
    <h5>What's my favorite useless fact?</h5>
    <p>
      Sloths can hold their breath for longer than dolphins. 🦥
    </p>


    
  </div>