<div class="white-bg">
    <h2>Let's get in touch.</h2>
    <br>
    <p>Reach me at<a href="mailto:marta.dev.2022@gmail.com">{{"&nbsp; marta.dev.2022@gmail.com "}}<i class="fas fa-envelope"></i></a></p>
    <p>Or at my social media:</p>
    <br><br>
    <div class="social-media d-flex justify-content-center">
        <button><a href="https://github.com/anamarta49" target="_blank"><i class="fab fa-github"></i></a></button>
        <button><a href="https://www.linkedin.com/in/marta-santos-lx/" target="_blank"><i class="fab fa-linkedin"></i></a></button>
        <button><a href="mailto:marta.dev.2022@gmail.com"><i class="fas fa-envelope"></i></a></button>
    </div>
    
</div>