.wrapper {
    min-height: 100vh; /* Ensure wrapper takes full viewport height */
}

.content {
    /* Set height and width of the container */
    height: 100vh; /* Adjust height as needed */
    width: 70vw; /* Adjust width as needed */
}