@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

$primary-color: #F8E5F5;
$secondary-color: #8780A8;
$third-color: #809BA8;
$text-color: black;

$bg-primary-color: #ff6f61; // Example primary color (Coral)
$bg-secondary-color: #6a0572; // Example secondary color (Dark Purple)
$bg-accent-color: #ffcc00; // Additional accent color (Bright Yellow)


$title-text-color: black;
$header-font-family:  'Roboto Mono', monospace;
$body-font-family: 'Poppins', sans-serif;
$sec-header-font-family: 'Roboto Mono', sans-serif;
$base-font-size: 16px;
$header-height: 250px;
