.flower-bg {
    background: url('../../content/flowerbg.jpg') repeat ;
    /* Set background size and other properties */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevent repeating the image */
}

